.Page{
    color:black ;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 1px black;
    background-color: rgb(91, 235, 223);
}
p{
    font-size: 1em;
}
.Page_Heading{
    text-align: center;
    margin: 20px auto;
    padding-top: 30px;
    font-size: 2em;
    color: rgb(255, 0, 128);
    border: 2px;
    border-style: dotted;
    max-width: 700px;
    min-width: 400px;
}
.Table_Block{
    min-width: 700px;
    max-width: 900px;
    margin: 20px;
}
.table_block{
    width: 100%;
    border-spacing: 3px 15px;
}
th, td {
    padding: 7px 10px 10px 10px;
    border: 2px solid #000000;
    background-color: #ffffff;
}   
th{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    text-align: left;
    background-color: rgb(206, 168, 122);
} 
th.sr_no{
    width: 10px;
}
th.title{
    width: 200px;
}
td{
    text-align: center;
}
.links{
    text-decoration: none;
}

